In [50]:
import pandas as pd
import statsmodels.api as sm # 
import numpy as np 
from scipy import stats

In [20]:
df = pd.read_csv("part-00000", sep = '\t', header = None, names = ['key', 'debtincome'])

In [21]:
df.head(10)

                                                 key  debtincome
0  ('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...    1.731879
1  ('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...    1.786440
2  ('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...    1.838941
3  ('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...    1.944490
4  ('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...    1.946002
5  ('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...    1.790510
6  ('Alabama', 'Auburn, Opelika - AL', 'Lee Count...    1.745053
7  ('Alabama', 'Auburn, Opelika - AL', 'Lee Count...    1.580709
8  ('Alabama', 'Auburn, Opelika - AL', 'Lee Count...    1.527398
9  ('Alabama', 'Auburn, Opelika - AL', 'Lee Count...    1.837137

In [22]:
df.loc[:,'state'] = df['key'].apply(lambda x: eval(x)[0])
df.loc[:,'msa'] = df['key'].apply(lambda x: eval(x)[1])
df.loc[:,'county'] = df['key'].apply(lambda x: eval(x)[2])
df.loc[:,'year'] = df['key'].apply(lambda x: eval(x)[3])

In [23]:
df = df[['key', 'state', 'msa', 'county', 'year', 'debtincome']]

In [89]:
df.head()

,key,state,msa,county,year,debtincome
0,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2008,1.731879
1,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2009,1.786440
2,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2010,1.838941
3,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2011,1.944490
4,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2012,1.946002

In [74]:
def getSlope(msastring):
    debtincome = df[df['msa'] == msastring]['debtincome']
    
    x = np.arange(0, len(debtincome))
    y = np.array(debtincome)
    slope, intercept, r_value, p_value, std_err = stats.linregress(x,y)
    
    return slope

In [ ]:
msa = pd.Series(df['msa'].ravel()).unique()

In [ ]:
debtincomeMSA = {} 

for i in msa:
    debtincomeMSA[i] = round(getSlope(i), 3)

In [ ]:
debtincomeMSA

In [90]:
debtincomeMSA = sorted(debtincomeMSA.items(), key=lambda x: -x[1])

In [91]:
debtincomeMSA

[('Bakersfield - CA', 0.398),
 ('Lancaster - PA', 0.146),
 ('Danville - VA', 0.077),
 ('Casper - WY', 0.072),
 ('Billings - MT', 0.057),
 ('Pensacola, Ferry Pass, Brent - FL', 0.051),
 ('Lafayette - IN', 0.031),
 ('Lubbock - TX', 0.029),
 ('Sebastian, Vero Beach - FL', 0.023),
 ('Idaho Falls - ID', 0.02),
 ('Seattle, Bellevue, Everett - WA', 0.019),
 ('Alexandria - LA', 0.019),
 ('Charleston - WV', 0.015),
 ('Buffalo, Niagara Falls - NY', 0.01),
 ('Tulsa - OK', 0.01),
 ('Scranton, Wilkes, Barre - PA', 0.01),
 ('Anchorage - AK', 0.009),
 ('State College - PA', 0.009),
 ('New Orleans, Metairie, Kenner - LA', 0.008),
 ('Corvallis - OR', 0.008),
 ('Omaha, Council Bluffs - NE, IA', 0.008),
 ('Yauco - PR', 0.008),
 ('Bremerton, Silverdale - WA', 0.006),
 ('Gary - IN', 0.004),
 ('Guayama - PR', 0.004),
 ('Amarillo - TX', 0.004),
 ('St. Louis - MO, IL', 0.003),
 ('Jackson - MS', 0.001),
 ('San Juan, Caguas, Guaynabo - PR', -0.001),
 ('Longview - WA', -0.002),
 ('Knoxville - TN', -0.003),
 ('Ames - IA', -0.004),
 ('Denver, Aurora, Broomfield - CO', -0.004),
 ('Lynchburg - VA', -0.009),
 ('Provo, Orem - UT', -0.01),
 ('Jackson - TN', -0.016),
 ('Salinas - CA', -0.018),
 ('Charleston, North Charleston, Summerville - SC', -0.019),
 ('Fajardo - PR', -0.025),
 ('Colorado Springs - CO', -0.028),
 ('Rockford - IL', -0.036),
 ('Lakeland, Winter Haven - FL', -0.041),
 ('Santa Rosa, Petaluma - CA', -0.049),
 ('Reno, Sparks - NV', -0.055),
 ('Oshkosh, Neenah - WI', -0.058),
 ('Redding - CA', -0.065),
 ('Modesto - CA', -0.066),
 ('Merced - CA', -0.069),
 ('Jackson - MI', -0.071),
 ('Naples, Marco Island - FL', -0.074),
 ('Janesville - WI', -0.085),
 ('Ocean City - NJ', -0.105),
 ('Danville - IL', -0.117),
 ('Myrtle Beach, Conway, North Myrtle Beach - SC', nan),
 ('Sarasota, Bradenton, Venice - FL', 0.261),
 ('Crestview, Fort Walton Beach, Destin - FL', 0.118),
 ('McAllen, Edinburg, Mission - TX', 0.094),
 ('Bridgeport, Stamford, Norwalk - CT', 0.059),
 ('El Paso - TX', 0.051),
 ('Cape Girardeau, Jackson - MO, IL', 0.046),
 ('Hinesville, Fort Stewart - GA', 0.039),
 ('Fort Collins, Loveland - CO', 0.038),
 ('Tacoma - WA', 0.036),
 ('Reading - PA', 0.035),
 ('Santa Cruz, Watsonville - CA', 0.034),
 ('Athens, Clarke County - GA', 0.033),
 ('Fort Lauderdale, Pompano Beach, Deerfield Beach - FL', 0.031),
 ('Charlotte, Gastonia, Concord - NC, SC', 0.027),
 ('San German, Cabo Rojo - PR', 0.027),
 ('Santa Ana, Anaheim, Irvine - CA', 0.026),
 ('Anniston, Oxford - AL', 0.025),
 ('Austin, Round Rock, San Marcos - TX', 0.021),
 ('Greeley - CO', 0.02),
 ('Sumter - SC', 0.02),
 ('Logan - UT, ID', 0.019),
 ('Detroit, Livonia, Dearborn - MI', 0.018),
 ('Victoria - TX', 0.017),
 ('Davenport, Moline, Rock Island - IA, IL', 0.015),
 ('Florence - SC', 0.015),
 ('Utica, Rome - NY', 0.014),
 ('San Antonio, New Braunfels - TX', 0.014),
 ('Gainesville - GA', 0.014),
 ('Chicago, Joliet, Naperville - IL', 0.013),
 ('Blacksburg, Christiansburg, Radford - VA', 0.013),
 ('Morristown - TN', 0.012),
 ('Eau Claire - WI', 0.012),
 ('Savannah - GA', 0.012),
 ('Peoria - IL', 0.012),
 ('Santa Barbara, Santa Maria, Goleta - CA', 0.012),
 ('Durham, Chapel Hill - NC', 0.012),
 ('Milwaukee, Waukesha, West Allis - WI', 0.011),
 ('St. Joseph - MO, KS', 0.011),
 ('Baltimore, Towson - MD', 0.009),
 ('Binghamton - NY', 0.008),
 ('Pocatello - ID', 0.008),
 ('College Station, Bryan - TX', 0.008),
 ('Des Moines, West Des Moines - IA', 0.008),
 ('San Angelo - TX', 0.008),
 ('Lexington, Fayette - KY', 0.007),
 ('Winston, Salem - NC', 0.006),
 ('Parkersburg, Marietta, Vienna - WV, OH', 0.006),
 ('Cleveland, Elyria, Mentor - OH', 0.005),
 ('Dothan - AL', 0.004),
 ('Poughkeepsie, Newburgh, Middletown - NY', 0.004),
 ('Columbia - SC', 0.004),
 ('Bismarck - ND', 0.004),
 ('Abilene - TX', 0.003),
 ('Salt Lake City - UT', 0.003),
 ('Riverside, San Bernardino, Ontario - CA', 0.003),
 ('Yuba City - CA', 0.003),
 ('Memphis - TN, MS, AR', 0.002),
 ('Youngstown, Warren, Boardman - OH, PA', 0.002),
 ('Camden - NJ', 0.002),
 ('New York, White Plains, Wayne - NY, NJ', 0.002),
 ('Toledo - OH', 0.002),
 ('Louisville, Jefferson County - KY, IN', 0.001),
 ('Lafayette - LA', 0.001),
 ('Houma, Bayou Cane, Thibodaux - LA', 0.001),
 ('Fort Wayne - IN', 0.0),
 ('Kansas City - MO, KS', 0.0),
 ('Nashville, Davidson, Murfreesboro, Franklin - TN', 0.0),
 ('Cumberland - MD, WV', -0.0),
 ('Minneapolis, St. Paul, Bloomington - MN, WI', -0.001),
 ('Allentown, Bethlehem, Easton - PA, NJ', -0.001),
 ('Atlanta, Sandy Springs, Marietta - GA', -0.001),
 ('Boston, Quincy - MA', -0.001),
 ('Virginia Beach, Norfolk, Newport News - VA, NC', -0.001),
 ('Birmingham, Hoover - AL', -0.002),
 ('Albany - GA', -0.002),
 ('Columbus - OH', -0.002),
 ('Ponce - PR', -0.003),
 ('Springfield - MA', -0.003),
 ('Fort Smith - AR, OK', -0.003),
 ('Macon - GA', -0.003),
 ('Missoula - MT', -0.003),
 ('Orlando, Kissimmee, Sanford - FL', -0.003),
 ('Green Bay - WI', -0.004),
 ('Houston, Sugar Land, Baytown - TX', -0.005),
 ('Orlando, Kissimmee - FL', -0.005),
 ('Akron - OH', -0.005),
 ('Florence, Muscle Shoals - AL', -0.005),
 ('Portland, Vancouver, Hillsboro - OR, WA', -0.005),
 ('Portland, Vancouver, Beaverton - OR, WA', -0.005),
 ('Fort Worth, Arlington - TX', -0.005),
 ('Nassau, Suffolk - NY', -0.006),
 ('Columbia - MO', -0.007),
 ('Wichita - KS', -0.007),
 ('Springfield - MO', -0.007),
 ('Pine Bluff - AR', -0.007),
 ('Fargo - ND, MN', -0.007),
 ('Asheville - NC', -0.007),
 ('Hattiesburg - MS', -0.007),
 ('Chattanooga - TN, GA', -0.008),
 ('Dalton - GA', -0.009),
 ('Albany, Schenectady, Troy - NY', -0.01),
 ('Sioux Falls - SD', -0.011),
 ('North Port, Bradenton, Sarasota - FL', -0.011),
 ('Terre Haute - IN', -0.011),
 ('Longview - TX', -0.012),
 ('Ogden, Clearfield - UT', -0.012),
 ('Rochester - MN', -0.013),
 ('Gainesville - FL', -0.013),
 ('Yuma - AZ', -0.013),
 ('Jacksonville - FL', -0.013),
 ('Evansville - IN, KY', -0.013),
 ('Lewiston - ID, WA', -0.013),
 ('Edison, New Brunswick - NJ', -0.013),
 ('Decatur - AL', -0.014),
 ('Mount Vernon, Anacortes - WA', -0.014),
 ('Worcester - MA', -0.015),
 ('Tyler - TX', -0.015),
 ('Owensboro - KY', -0.015),
 ('Charlottesville - VA', -0.016),
 ('Oxnard, Thousand Oaks, Ventura - CA', -0.016),
 ('Altoona - PA', -0.016),
 ('Cleveland - TN', -0.019),
 ('Chico - CA', -0.02),
 ('Miami, Miami Beach, Kendall - FL', -0.021),
 ('Bay City - MI', -0.021),
 ('La Crosse - WI, MN', -0.023),
 ('Brunswick - GA', -0.023),
 ('Peabody - MA', -0.025),
 ('Columbus - IN', -0.027),
 ('Napa - CA', -0.028),
 ('Fairbanks - AK', -0.029),
 ('Niles, Benton Harbor - MI', -0.029),
 ('Burlington, South Burlington - VT', -0.03),
 ('Weirton, Steubenville - WV, OH', -0.03),
 ('Wilmington - DE, MD, NJ', -0.033),
 ('Brownsville, Harlingen - TX', -0.039),
 ('Jonesboro - AR', -0.04),
 ('Goldsboro - NC', -0.041),
 ('Las Vegas, Paradise - NV', -0.045),
 ('Fresno - CA', -0.045),
 ('Trenton, Ewing - NJ', -0.048),
 ('Michigan City, La Porte - IN', -0.048),
 ('Kingston - NY', -0.051),
 ('Winchester - VA, WV', -0.052),
 ('Palm Bay, Melbourne, Titusville - FL', -0.056),
 ('Bloomington, Normal - IL', -0.057),
 ('Medford - OR', -0.06),
 ('Gadsden - AL', -0.062),
 ('Deltona, Daytona Beach, Ormond Beach - FL', -0.067),
 ('Springfield - IL', -0.068),
 ('Spokane - WA', -0.07),
 ('Stockton - CA', -0.079),
 ('Barnstable Town - MA', -0.104),
 ('Atlantic City - NJ', nan),
 ('Bethesda, Frederick, Rockville - MD', 0.13),
 ('Edison - NJ', 0.108),
 ('Jacksonville - NC', 0.097),
 ('Racine - WI', 0.094),
 ('Laredo - TX', 0.085),
 ('San Francisco, San Mateo, Redwood City - CA', 0.069),
 ('Burlington - NC', 0.053),
 ('Anderson - SC', 0.052),
 ('Eugene, Springfield - OR', 0.048),
 ('San Diego, Carlsbad, San Marcos - CA', 0.047),
 ('Bellingham - WA', 0.046),
 ('Bowling Green - KY', 0.042),
 ('Erie - PA', 0.039),
 ('Mankato, North Mankato - MN', 0.029),
 ('Cambridge, Newton, Framingham - MA', 0.029),
 ('Phoenix, Mesa, Scottsdale - AZ', 0.028),
 ('Harrisonburg - VA', 0.028),
 ('Tuscaloosa - AL', 0.028),
 ('Grand Junction - CO', 0.027),
 ('Austin, Round Rock - TX', 0.025),
 ('Lewiston, Auburn - ME', 0.025),
 ('Great Falls - MT', 0.023),
 ('Kennewick, Pasco, Richland - WA', 0.023),
 ('Canton, Massillon - OH', 0.022),
 ('Rocky Mount - NC', 0.02),
 ('Morgantown - WV', 0.02),
 ('Waco - TX', 0.018),
 ('Johnson City - TN', 0.015),
 ('Grand Forks - ND, MN', 0.015),
 ('Madera, Chowchilla - CA', 0.014),
 ('Anderson - IN', 0.011),
 ('Huntsville - AL', 0.011),
 ('Sacramento, Arden, Arcade, Roseville - CA', 0.007),
 ('Cedar Rapids - IA', 0.006),
 ('Olympia - WA', 0.005),
 ('Rockingham County, Strafford County - NH', 0.005),
 ('Raleigh, Cary - NC', 0.004),
 ('Aguadilla, Isabela, San Sebastian - PR', 0.003),
 ('Greensboro, High Point - NC', 0.002),
 ('Cheyenne - WY', 0.001),
 ('Appleton - WI', 0.001),
 ('Indianapolis, Carmel - IN', -0.001),
 ('Cincinnati, Middletown - OH, KY, IN', -0.001),
 ('Oklahoma City - OK', -0.001),
 ('Richmond - VA', -0.001),
 ('Waterloo, Cedar Falls - IA', -0.001),
 ('Philadelphia - PA', -0.001),
 ('Washington, Arlington, Alexandria - DC, VA, MD, WV', -0.002),
 ('Rochester - NY', -0.003),
 ('Pascagoula - MS', -0.004),
 ('Roanoke - VA', -0.004),
 ('Hot Springs - AR', -0.005),
 ('Elmira - NY', -0.005),
 ('Salisbury - MD', -0.005),
 ('Warren, Troy, Farmington Hills - MI', -0.005),
 ('Sioux City - IA, NE, SD', -0.006),
 ('Myrtle Beach, North Myrtle Beach, Conway - SC', -0.007),
 ('Harrisburg, Carlisle - PA', -0.007),
 ('Wichita Falls - TX', -0.008),
 ('Portland, South Portland, Biddeford - ME', -0.009),
 ('Santa Fe - NM', -0.009),
 ('Dover - DE', -0.01),
 ('South Bend, Mishawaka - IN, MI', -0.011),
 ('Providence, New Bedford, Fall River - RI, MA', -0.011),
 ('Jefferson City - MO', -0.011),
 ('Beaumont, Port Arthur - TX', -0.011),
 ('Wheeling - WV, OH', -0.012),
 ('Boulder - CO', -0.012),
 ('New Haven, Milford - CT', -0.012),
 ('Newark, Union - NJ, PA', -0.012),
 ('Monroe - MI', -0.013),
 ('Lansing, East Lansing - MI', -0.013),
 ('Montgomery - AL', -0.013),
 ('Prescott - AZ', -0.014),
 ('Syracuse - NY', -0.014),
 ('Lawrence - KS', -0.014),
 ('Dayton - OH', -0.015),
 ('Phoenix, Mesa, Glendale - AZ', -0.015),
 ('Columbus - GA, AL', -0.016),
 ('Fayetteville, Springdale, Rogers - AR, MO', -0.016),
 ('St. Cloud - MN', -0.018),
 ('Ocala - FL', -0.019),
 ('West Palm Beach, Boca Raton, Boynton Beach - FL', -0.021),
 ('Denver, Aurora - CO', -0.024),
 ('Tucson - AZ', -0.025),
 ('Monroe - LA', -0.028),
 ('Kokomo - IN', -0.028),
 ('Elizabethtown - KY', -0.028),
 ('Bangor - ME', -0.033),
 ('Vallejo, Fairfield - CA', -0.033),
 ('Atlantic City, Hammonton - NJ', -0.05),
 ('Greenville - NC', -0.053),
 ('Lincoln - NE', -0.056),
 ('Pueblo - CO', -0.057),
 ('Sherman, Denison - TX', -0.06),
 ('Flagstaff - AZ', -0.061),
 ('Palm Coast - FL', -0.064),
 ('Auburn, Opelika - AL', -0.065),
 ('San Luis Obispo, Paso Robles - CA', -0.068),
 ('Visalia, Porterville - CA', -0.074),
 ('Pittsfield - MA', -0.133),
 ('Fort Walton Beach, Crestview, Destin - FL', -0.134),
 ("Coeur D'Alene - ID", -0.15),
 ('Lakeland - FL', nan),
 ('Honolulu - HI', 0.16),
 ('Midland - TX', 0.13),
 ('Bethesda, Gaithersburg, Frederick - MD', 0.12),
 ('Spartanburg - SC', 0.092),
 ('Iowa City - IA', 0.072),
 ('Bakersfield, Delano - CA', 0.062),
 ('Fayetteville - NC', 0.06),
 ('Lawton - OK', 0.049),
 ('Los Angeles, Long Beach, Glendale - CA', 0.049),
 ('Springfield - OH', 0.049),
 ('Bend - OR', 0.048),
 ('Wenatchee, East Wenatchee - WA', 0.042),
 ('Warner Robins - GA', 0.041),
 ('Kankakee, Bradley - IL', 0.04),
 ('Holland, Grand Haven - MI', 0.036),
 ('York, Hanover - PA', 0.028),
 ('Carson City - NV', 0.026),
 ('Charlotte, Gastonia, Rock Hill - NC, SC', 0.024),
 ('Glens Falls - NY', 0.023),
 ('Clarksville - TN, KY', 0.02),
 ('Corpus Christi - TX', 0.02),
 ('Wilmington - NC', 0.018),
 ('Panama City, Lynn Haven, Panama City Beach - FL', 0.015),
 ('Elkhart, Goshen - IN', 0.014),
 ('Gulfport, Biloxi - MS', 0.013),
 ('Chicago, Naperville, Joliet - IL', 0.013),
 ('Vineland, Millville, Bridgeton - NJ', 0.012),
 ('Valdosta - GA', 0.011),
 ('El Centro - CA', 0.011),
 ('Yakima - WA', 0.01),
 ('Dubuque - IA', 0.009),
 ('Champaign, Urbana - IL', 0.007),
 ('Huntington, Ashland - WV, KY, OH', 0.007),
 ('Decatur - IL', 0.007),
 ('Pittsburgh - PA', 0.005),
 ('Bloomington - IN', 0.005),
 ('Boise City, Nampa - ID', 0.005),
 ('San Jose, Sunnyvale, Santa Clara - CA', 0.005),
 ('San Antonio - TX', 0.004),
 ('Little Rock, North Little Rock, Conway - AR', 0.003),
 ('Mobile - AL', 0.003),
 ('Hickory, Lenoir, Morganton - NC', 0.002),
 ('Las Cruces - NM', 0.002),
 ('Topeka - KS', 0.001),
 ('Albuquerque - NM', 0.0),
 ('Augusta, Richmond County - GA, SC', 0.0),
 ('Bethesda, Rockville, Frederick - MD', -0.0),
 ('Hartford, West Hartford, East Hartford - CT', -0.0),
 ('Wausau - WI', -0.001),
 ('Bethesda, Frederick, Gaithersburg - MD', -0.001),
 ('Dallas, Plano, Irving - TX', -0.002),
 ('Grand Rapids, Wyoming - MI', -0.002),
 ('Killeen, Temple, Fort Hood - TX', -0.002),
 ('Salem - OR', -0.003),
 ('Joplin - MO', -0.003),
 ('Manchester, Nashua - NH', -0.004),
 ('Baton Rouge - LA', -0.004),
 ('Tampa, St. Petersburg, Clearwater - FL', -0.004),
 ('Farmington - NM', -0.005),
 ('Sandusky - OH', -0.005),
 ('Kingsport, Bristol, Bristol - TN, VA', -0.008),
 ('Tallahassee - FL', -0.009),
 ('Mansfield - OH', -0.01),
 ('Muncie - IN', -0.01),
 ('Lake County, Kenosha County - IL, WI', -0.014),
 ('Manhattan - KS', -0.015),
 ('Norwich, New London - CT', -0.016),
 ('Port St. Lucie - FL', -0.016),
 ('Shreveport, Bossier City - LA', -0.016),
 ('Oakland, Fremont, Hayward - CA', -0.016),
 ('Greenville, Mauldin, Easley - SC', -0.017),
 ('Madison - WI', -0.018),
 ('Odessa - TX', -0.019),
 ('Rome - GA', -0.024),
 ('Duluth - MN, WI', -0.027),
 ('Kalamazoo, Portage - MI', -0.028),
 ('Ithaca - NY', -0.029),
 ('Rapid City - SD', -0.029),
 ('Texarkana, TX - Texarkana, AR', -0.031),
 ('Flint - MI', -0.031),
 ('Hagerstown, Martinsburg - MD, WV', -0.031),
 ('Hanford, Corcoran - CA', -0.034),
 ('Steubenville, Weirton - OH, WV', -0.038),
 ('Muskegon, Norton Shores - MI', -0.039),
 ('Cape Coral, Fort Myers - FL', -0.04),
 ('Williamsport - PA', -0.041),
 ('Sheboygan - WI', -0.043),
 ('Punta Gorda - FL', -0.047),
 ('Mayaguez - PR', -0.05),
 ('Battle Creek - MI', -0.053),
 ('Lake Charles - LA', -0.053),
 ('Fond du Lac - WI', -0.056),
 ('Lake Havasu City, Kingman - AZ', -0.061),
 ('Durham - NC', -0.063),
 ('Ann Arbor - MI', -0.069),
 ('Saginaw, Saginaw Township North - MI', -0.084),
 ('Johnstown - PA', -0.091),
 ('Lima - OH', -0.111),
 ('Lebanon - PA', -0.132),
 ('St. George - UT', -0.15),
 ('Wenatchee - WA', -0.18),
 ('Charleston, North Charleston - SC', -0.219),
 ('Madera - CA', -0.262),
 ('Bradenton, Sarasota, Venice - FL', -0.313),
 ('Panama City, Lynn Haven - FL', -0.347),
 ('Kennewick, Richland, Pasco - WA', -1.134)]