In [50]:
import pandas as pd
import statsmodels.api as sm # 
import numpy as np 
from scipy import stats

In [20]:
df = pd.read_csv("part-00000", sep = '\t', header = None, names = ['key', 'debtincome'])

In [127]:
df.head(10)

,key,state,msa,county,year,debtincome
0,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2008,1.731879
1,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2009,1.786440
2,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2010,1.838941
3,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2011,1.944490
4,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2012,1.946002
5,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2013,1.790510
6,"('Alabama', 'Auburn, Opelika - AL', 'Lee Count...",Alabama,"Auburn, Opelika - AL",Lee County,2007,1.745053
7,"('Alabama', 'Auburn, Opelika - AL', 'Lee Count...",Alabama,"Auburn, Opelika - AL",Lee County,2008,1.580709
8,"('Alabama', 'Auburn, Opelika - AL', 'Lee Count...",Alabama,"Auburn, Opelika - AL",Lee County,2009,1.527398
9,"('Alabama', 'Auburn, Opelika - AL', 'Lee Count...",Alabama,"Auburn, Opelika - AL",Lee County,2010,1.837137

In [22]:
df.loc[:,'state'] = df['key'].apply(lambda x: eval(x)[0])
df.loc[:,'msa'] = df['key'].apply(lambda x: eval(x)[1])
df.loc[:,'county'] = df['key'].apply(lambda x: eval(x)[2])
df.loc[:,'year'] = df['key'].apply(lambda x: eval(x)[3])

In [23]:
df = df[['key', 'state', 'msa', 'county', 'year', 'debtincome']]

In [157]:
def extractMSA(row):
    x = row['msa']
    toAdd = x.split(" - ")[0].split(", ")[0]
    return toAdd

In [161]:
def extractState(row):
    x = row['msa']
    toAdd = x.split(" - ")[1]
    return toAdd

In [164]:
df.loc[:,('stateFilter')] = df.apply(extractState, axis = 1)

In [165]:
df.head()

,key,state,msa,county,year,debtincome,msaFilter,stateFilter
0,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2008,1.731879,Anniston,AL
1,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2009,1.786440,Anniston,AL
2,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2010,1.838941,Anniston,AL
3,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2011,1.944490,Anniston,AL
4,"('Alabama', 'Anniston, Oxford - AL', 'Calhoun ...",Alabama,"Anniston, Oxford - AL",Calhoun County,2012,1.946002,Anniston,AL

In [74]:
def getSlope(msastring):
    debtincome = df[df['msa'] == msastring]['debtincome']
    
    x = np.arange(0, len(debtincome))
    y = np.array(debtincome)
    slope, intercept, r_value, p_value, std_err = stats.linregress(x,y)
    
    return slope

In [ ]:
msa = pd.Series(df['msa'].ravel()).unique()

In [97]:
debtincomeMSA = {} 

for i in msa:
    debtincomeMSA[i] = round(getSlope(i), 3)

In [ ]:
debtincomeMSA

In [90]:
debtincomeMSA = sorted(debtincomeMSA.items(), key=lambda x: -x[1])

In [104]:
diArray = sorted(debtincomeMSA.items(), key=lambda x: x[0])

In [121]:
# for i in diArray:
#     x = i[0].split(" - ")[0]
#     print x.split(",")[0]

output = pd.DataFrame(diArray, columns = ['msa', 'slope'])

In [122]:
output

                                                   msa  slope
0                                         Abilene - TX  0.003
1               Aguadilla, Isabela, San Sebastian - PR  0.003
2                                           Akron - OH -0.005
3                                          Albany - GA -0.002
4                       Albany, Schenectady, Troy - NY -0.010
5                                     Albuquerque - NM  0.000
6                                      Alexandria - LA  0.019
7                Allentown, Bethlehem, Easton - PA, NJ -0.001
8                                         Altoona - PA -0.016
9                                        Amarillo - TX  0.004
10                                           Ames - IA -0.004
11                                      Anchorage - AK  0.009
12                                       Anderson - IN  0.011
13                                       Anderson - SC  0.052
14                                      Ann Arbor - MI -0.069
15                               Anniston, Oxford - AL  0.025
16                                       Appleton - WI  0.001
17                                      Asheville - NC -0.007
18                          Athens, Clarke County - GA  0.033
19               Atlanta, Sandy Springs, Marietta - GA -0.001
20                                  Atlantic City - NJ    NaN
21                       Atlantic City, Hammonton - NJ -0.050
22                                Auburn, Opelika - AL -0.065
23                   Augusta, Richmond County - GA, SC  0.000
24                             Austin, Round Rock - TX  0.025
25                 Austin, Round Rock, San Marcos - TX  0.021
26                                    Bakersfield - CA  0.398
27                            Bakersfield, Delano - CA  0.062
28                              Baltimore, Towson - MD  0.009
29                                         Bangor - ME -0.033
..                                                 ...    ...
388                            Vallejo, Fairfield - CA -0.033
389                                      Victoria - TX  0.017
390                Vineland, Millville, Bridgeton - NJ  0.012
391     Virginia Beach, Norfolk, Newport News - VA, NC -0.001
392                          Visalia, Porterville - CA -0.074
393                                          Waco - TX  0.018
394                                 Warner Robins - GA  0.041
395                Warren, Troy, Farmington Hills - MI -0.005
396  Washington, Arlington, Alexandria - DC, VA, MD... -0.002
397                         Waterloo, Cedar Falls - IA -0.001
398                                        Wausau - WI -0.001
399                     Weirton, Steubenville - WV, OH -0.030
400                                     Wenatchee - WA -0.180
401                     Wenatchee, East Wenatchee - WA  0.042
402    West Palm Beach, Boca Raton, Boynton Beach - FL -0.021
403                                  Wheeling - WV, OH -0.012
404                                       Wichita - KS -0.007
405                                 Wichita Falls - TX -0.008
406                                  Williamsport - PA -0.041
407                            Wilmington - DE, MD, NJ -0.033
408                                    Wilmington - NC  0.018
409                                Winchester - VA, WV -0.052
410                                Winston, Salem - NC  0.006
411                                     Worcester - MA -0.015
412                                        Yakima - WA  0.010
413                                         Yauco - PR  0.008
414                                 York, Hanover - PA  0.028
415              Youngstown, Warren, Boardman - OH, PA  0.002
416                                     Yuba City - CA  0.003
417                                          Yuma - AZ -0.013

[418 rows x 2 columns]

####ACS Data

In [93]:
acs = pd.read_csv("acs.csv")

In [174]:
acs = acs[['Geo_QName', 'Geo_STUSAB', 'SE_T057_001', 'SE_T101_001']]

In [182]:
acs.loc[:,('Geo_STUSAB')] = acs.apply(lambda row: row['Geo_STUSAB'].upper(), axis=1)

In [186]:
acs.head()

                               Geo_QName Geo_STUSAB  SE_T057_001  SE_T101_001
0                   Albertville, Alabama         AL        39526       114000
1  Anniston-Oxford-Jacksonville, Alabama         AL        39962       100600
2                Auburn-Opelika, Alabama         AL        43542       146900
3             Birmingham-Hoover, Alabama         AL        48336       143400
4                      Columbus, Alabama         AL        36143       104400

In [176]:
y = 'dasf'

In [177]:
y.upper()

'DASF'