In [1]:
import pandas as pd

In [21]:
df = pd.read_csv("avg_mort.csv", sep = '\t', index_col = None, \
                 header = None, names = ['state', 'msa', 'county', 'census_tract', 'year', 'total', 'count'], \
                dtype = {'census_tract': object, 'year': object})

In [25]:
df.loc[:, 'avg'] = df['total']/df['count']

In [26]:
df.head()

  state  msa county census_tract  year    total  count         avg
0   NaN  NaN    NaN          NaN  2008  3930953  21540  182.495497
1   NaN  NaN    NaN          NaN  2009  7813788  45770  170.718549
2   NaN  NaN    NaN          NaN  2010  9114318  52520  173.539947
3   NaN  NaN    NaN          NaN  2011  4286942  25732  166.599642
4   NaN  NaN    NaN          NaN  2012  1464596   8837  165.734525

In [27]:
df.sort(['year', 'avg'], ascending = [True, False], inplace = True)

In [31]:
df = df[(df['state'].isnull() != True) & (df['county'].isnull() != True)]

In [36]:
df[df['year'] == '2007']['avg'].describe()

count    66645.000000
mean       198.990412
std        178.842765
min          1.000000
25%        107.320000
50%        155.443299
75%        240.142857
max      17774.800000
Name: avg, dtype: float64